.title {
    color: chocolate;
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

img {
    width: 300px;
    height: 300px;
    border: 4px chocolate;
}
div p {
    float: left;
}
.example {
padding-top: 20px;
}

header a:hover {
    color: coral;

}

html {
    background-image: url(IMG_5109.jpeg);
    background-size: cover;
    
}

.footer p {
    float: left;
}
